<link href="<%= url('/css/main.css') %>" rel="stylesheet" type="text/css" />
<h1>Tic Tac Toe</h1>

<form action="/new-game">
  <label for="player_x"> Player 'X' is a: </label>
  <select value="player_x">
    <option id="human">Human</option>
    <option value="simple_computer">Simple Computer</option>
    <option value="expert_computer">Expert Computer</option>
  </select>
  <label for="player_o"> Player 'O' is a: </label>
  <input type="text" name="player_o">
  <input type="submit" value="Start Game">
</form>

  <table>
    <tr>
      <td id="0"></td>
      <td id="1"></td>
      <td id="2"></td>
    </tr>
    <tr>
      <td id="3"></td>
      <td id="4"></td>
      <td id="5"></td>
    </tr>
    <tr>
      <td id="6"></td>
      <td id="7"></td>
      <td id="8"></td>
    </tr>
  </table>
